section {
    height: 100%;
    display: flex;
    flex-direction: column;
}
article {
    width: 90%;
    max-width: 700px;
    margin: auto;
    padding: 5em 5%;
    display: flex;
    flex-direction: column;
    gap: .5em;
}
h1 {
    text-align: center;
}
fieldset, input, select, button {
    border-radius: .5em;
    border: solid var(--border-color) 2px;
    padding: .5em 1em;
    background-color: var(--bg-color);
    color: var(--text-color);
}
select, button {
    appearance: none;
    cursor: pointer;
}
button {
    transition: background-color .2s, color .2s;
}
button:hover {
    background-color: var(--border-color);
    color: black;
}
label {
    display: block;
}

.row {
    display: flex;
    align-items: center;
    gap: .5em;
}

.quiz {
    display: flex;
    flex-direction: column;
    height: 100vh;
    transition: background-color 0.2s, color 0.2s;
    overflow: hidden;
}
.quiz .question {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1em;
    text-align: center;
    font-size: 2em;
}
.quiz .answers {
    flex: 1;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1em;
    margin: 1em;
}
.quiz .answers :nth-child(2n + 1):last-child {
    grid-column: span 2;
}
.quiz .answers button {
    font-size: 1.5em;
    border: none;
    padding: 0;
    background-color: var(--bg-color);
    color: var(--text-color);
    box-shadow: 0 0 10px 2px #88888834;
    transition: background-color 0.2s, transform 0.2s, color 0.2s;
}
.quiz .answers button:hover {
    transform: scale(1.02);
}
@media (orientation: portrait) {
    .quiz .answers {
        grid-template-columns: 1fr;
    }
}

.results {
    list-style: none;
    padding: 0 1em;
}
.results li {
    margin: .2em 0;
}
.results .answer {
    border-radius: .5em;
    padding: 0 .25em;
    background-color: var(--reverse-bg-color);
    color: var(--reverse-text-color);
}
.results .correct {
    color: yellowgreen
}
.results .incorrect {
    color: orangered
}
