:root {
    height: 100%;
    --bg-color: #272727;
    --text-color: white;
    --reverse-bg-color: whitesmoke;
    --reverse-text-color: black;
    --border-color: #ccc;
}
body {
    margin: 0;
    font-family: Helvetica, Arial;
    height: 100%;
    background-color: var(--bg-color);
    color: var(--text-color);
}
@media (prefers-color-scheme: light) {
    :root {
        --bg-color: whitesmoke;
        --text-color: black;
        --reverse-bg-color: #272727;
        --reverse-text-color: white;
    }
}
