:root {
    height: 100%;
}
body {
    margin: 0;
    font-family: Helvetica, Arial;
    height: 100%;
}

#listes {
    height: 100%;
    overflow: auto;
}
.listes {
    display: flex;
    flex-wrap: wrap;
}
.listes > * {
    flex: 1;
    font-size: 2em;
    padding: 2em 0;
    text-align: center;
    position: relative;
    cursor: pointer;
}
.listes img {
    max-height: 5em;
    max-width: 100%;
    vertical-align: middle;
}
.listes .ecart {
    position: absolute;
    right: 0;
    bottom: 0;
}
a {
    color: inherit;
}
.annee {
    padding: .5em;
    text-align: center;
    border-top: 1px solid black;
}

.popup-wrapper {
    position: absolute;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    background-color: rgba(.5, .5, .5, .4);
    z-index: 5;
}
.popup {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 40%;
    min-height: 60%;
    max-height: 90%;
    overflow: auto;
    background-color: whitesmoke;
    transform: translate(-50%, -50%);
    border-radius: 1em;
    padding: 2em;
}
@media (orientation: portrait) {
    .popup {
        width: 80%;
    }
}

.liste .nom {
    font-size: 2em;
    text-align: center;
}
.liste .logo {
    display: block;
    margin: auto;
    max-height: 8em;
}
.liste .liens {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}
.liste .liens img {
    height: 3em;
    background: white;
    padding: 0.2em;
    border-radius: 0.5em;
    margin: 0.2em;
}
.liste .photo {
    max-width: 100%;
}

#contribute {
    position: absolute;
    bottom: 0;
    right: 0;
    background-color: #272727;
    color: white;
    z-index: 50;
    padding: 1em;
    text-align: center;
    border-radius: 0.5em;
    margin: 2em;
}
#contribute a {
    background-color: yellowgreen;
    color: black;
    display: block;
    margin: .2em;
    padding: 0.5em;
    border-radius: 0.5em;
    cursor: pointer;
    text-decoration: none;
}
@media (max-width: 960px) {
    #contribute {
        display: none;
    }
}
